<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioHub</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!---->
    <link rel="icon" th:href="porthub.ico" href="/static/porthub.ico" />
    <link th:href="@{/css/header2.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/about/main.css}" href="/static/css/about/main.css">
</head>
<body>

<div class="top-header" th:replace="~{fragments/header::headerFragment}"></div>


<div class="desktop">
    <div class="port">

        <section class="banner full">
            <article>
                <img th:src="@{/images/slide01.jpg}" src="/static/images/slide01.jpg" alt="" width="1440" height="961">
                <div class="inner">
                    <header><p>각 분야 별로 다양한 포트폴리오를 경험할 수 있습니다!<a href="/main">Portfolio</a></p>
                        <h2>Portfolio</h2>
                    </header>
                </div>
            </article>
            <article>
                <img th:src="@{/images/slide02.jpg}" src="/static/images/slide02.jpg" alt="" width="1440" height="961">
                <div class="inner">
                    <header>
                        <p>자신이 부족한 부분을 멘토링을 통해 해결할 수 있습니다!<a href="/mentoring">Mentoring</a></p>
                        <h2>Mentoring</h2>
                    </header>
                </div>
            </article>
            <article>
                <img th:src="@{/images/slide03.jpg}" src="/static/images/slide03.jpg" alt="" width="1440" height="962">
                <div class="inner">
                    <header><p>멘토 인증을 진행하여 수익화를 진행할 수 있습니다!!</p>
                        <h2>Profit</h2>
                    </header>
                </div>
            </article>
            <article>
                <img th:src="@{/images/slide04.jpg}" src="/static/images/slide04.jpg" alt="" width="1440" height="961">
                <div class="inner">
                    <header><p>채팅을 통해 여러 분야와 소통을 진행할 수 있습니다!</p>
                        <h2>Chatting</h2>
                    </header>
                </div>
            </article>
            <article>
                <img th:src="@{/images/slide05.jpg}" src="/static/images/slide05.jpg" alt="" width="1440" height="962">
                <div class="inner">
                    <header><p>다양한 분야의 트랜드를 파악해 볼 수 있습니다!</p>
                        <h2>Trend</h2>
                    </header>
                </div>
            </article>
        </section><!-- One -->

        <section id="one" class="wrapper style2">
            <div class="inner">
                <div class="grid-style">

                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img th:src="@{/images/th1.png}" src="/static/images/th1.png" alt="" width="600" height="300">
                            </div>
                            <div class="content">
                                <header class="align-center"><p>로그인 상태에서만 글을 등록할 수 있습니다.</p>
                                    <h2>Step1. 썸네일을 등록하고 분야를 선택하세요!.</h2>
                                </header>
                                <p> 썸네일은 동영상, 오디오, 사진 모두 가능합니다.</p>
                                <p> 썸네일은 메인 화면에 보여집니다.</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img th:src="@{/images/th2.png}" src="/static/images/th2.png" alt="" width="600" height="300">
                            </div>
                            <div class="content">
                                <header class="align-center"><p>생성 버튼을 클릭하면 섹션이 나타납니다!</p>
                                    <h2>Step2. 생성 버튼을 클릭하여 여러 섹션을 사용 하세요!</h2>
                                </header>
                                <p>섹션의 파일 또한 동영상, 오디오, 사진 모두 가능합니다.</p>
                                <p>각 섹션의 파일에 일정 용량 초과시 글이 등록되지 않을 수 있습니다!</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img th:src="@{/images/th3.png}" src="/static/images/th3.png" alt="" width="600" height="300">
                            </div>
                            <div class="content">
                                <header class="align-center"><p>등록한 썸네일이 포트폴리오에 포함됩니다!</p>
                                    <h2>Step3. 글이 잘 작성되었는지 확인하세요!</h2>
                                </header>
                                <p> 등록한 글은 프로필에서도 확인이 가능합니다!</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img th:src="@{/images/th4.png}" src="/static/images/th4.png" alt="" width="600" height="300">
                            </div>
                            <div class="content">
                                <header class="align-center"><p>자기 자신이 등록한 파일의 경우에만 수정 및 삭제가 가능합니다!</p>
                                    <h2>Step4. 글 수정 및 삭제하기</h2>
                                </header>
                                <p> 이미 존재하는 섹션의 경우에만 수정이 가능합니다.</p>
                                <p> 삭제를 원하는 경우 삭제하기 버튼을 클릭하여 삭제하세요!</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- Two -->
        <section id="two" class="wrapper style3">
            <div class="inner">
                <header class="align-center"><p>멘토링 미인증 회원은 멘토 인증을 진행하셔야 수익화가 가능힙니다!</p>
                    <h2> 멘토링 인증 방법 소개</h2>
                </header>
            </div>
        </section><!-- Three -->
        <section id="three" class="wrapper style2">
            <div class="inner">
                <header class="align-center"><p class="special">멘토 등록하기를 진행하셔야 멘토 권한을 얻으실 수 있습니다!</p>
                    <h2>관리자의 승인이 떨어져야 수익 활동이 가능합니다!</h2>
                    <div th:if="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}" class="mento-btn">
                        <a href="/mentoring/activity">멘토 지원하기</a>
                    </div>
                    <a href="#" onclick="confirmLogin(event)" th:unless="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}" class="mento-btn">멘토 지원하기</a>

                </header>
                <div class="gallery">
                    <div>
                        <div class="image fit">
                            <img th:src="@{/images/mento1.png}" src="/static/images/mento1.png" alt="" width="600" height="300"></a>
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <h2>Step1. 멘토 승인을 관리자에게 요청하기 위한 폼을 작성하세요!</h2>
                            </header>
                        </div>
                    </div>
                    <div>
                        <div class="image fit">
                            <img th:src="@{/images/mento2.png}" src="/static/images/mento2.png" alt="" width="600" height="300"></a>
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <h2>Step2. 전송이 완료되면 활동 상태에서 확인이 가능합니다.</h2>
                            </header>
                        </div>
                    </div>
                    <div>
                        <div class="image fit">
                            <img th:src="@{/images/mento3.png}" src="/static/images/mento3.png" alt="" width="600" height="300"></a>
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <h2>Step3. 승인이 되었다면 활동을 등록하세요!</h2>
                            </header>
                        </div>
                    </div>
                    <div>
                        <div class="image fit">
                            <img th:src="@{/images/mento4.png}" src="/static/images/mento4.png" alt="" width="600" height="300"></a>
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <h2>Step4. 활동 등록시 자료를 같이 등재해야 합니다!</h2>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Footer -->

    </div>
</div>

<footer th:replace="~{fragments/footer::footerFragment}"></footer>
<!-- Scripts -->
<script th:src="@{/js/about/jquery.min.js}" src="/static/js/about/jquery.min.js"></script>
<script th:src="@{/js/about/jquery.scrollex.min.js}" src="/static/js/about/jquery.scrollex.min.js"></script>
<script th:src="@{/js/about/skel.min.js}" src="/static/js/about/skel.min.js"></script>
<script th:src="@{/js/about/util.js}" src="/static/js/about/util.js"></script>
<script th:src="@{/js/about/main.js}" src="/static/js/about/main.js"></script>
</body>
</html>
