<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link th:href="@{/css/chat/chat.css}" href="/static/css/chat/chat.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<div class="top-header" th:replace="~{fragments/header::headerFragment}"></div>
<br><br><br>
<div class="container">
    <div class="sidebar">
        <div class="header">
            <h3>Messages</h3>
            <!-- ! 모달 창 부분 ! -->
            <button id="addChatButton" aria-label="Start a new chat">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" th:border="none" fill="none">
                    <path d="M20.0002 3.33334C10.8168 3.33334 3.3335 10.8167 3.3335 20C3.3335 29.1833 10.8168 36.6667 20.0002 36.6667C29.1835 36.6667 36.6668 29.1833 36.6668 20C36.6668 10.8167 29.1835 3.33334 20.0002 3.33334ZM26.6668 21.25H21.2502V26.6667C21.2502 27.35 20.6835 27.9167 20.0002 27.9167C19.3168 27.9167 18.7502 27.35 18.7502 26.6667V21.25H13.3335C12.6502 21.25 12.0835 20.6833 12.0835 20C12.0835 19.3167 12.6502 18.75 13.3335 18.75H18.7502V13.3333C18.7502 12.65 19.3168 12.0833 20.0002 12.0833C20.6835 12.0833 21.2502 12.65 21.2502 13.3333V18.75H26.6668C27.3502 18.75 27.9168 19.3167 27.9168 20C27.9168 20.6833 27.3502 21.25 26.6668 21.25Z" fill="#333333"/>
                </svg>
            </button>
            <!-- ! 모달 창 부분 ! -->
        </div>
        <div class="search-bar">
            <!--            <label for="searchInput"></label><input type="text" id="searchInput" placeholder="Search messages...">-->
            <input type="text" id="searchInput" placeholder="Search messages..." aria-label="Search for messages">
        </div>
        <ul class="chat-list" id="chatList">
            <li th:each="ChatSession : ${chatSessions}" class="chat-item">
                <!-- I also changed this part right below from /chat/{ChatSession.sessionId} to /user/chat/{ChatSession.sessionId} -->
                <!-- Still not sure what it should be, but I thought it should be /user/chat/{ChatSession.sessionId} -->
                <a th:href="@{'/user/chat/' + ${ChatSession.sessionId}}" class="chat-link">
                    <div class="chat-avatar">
                        <img th:each="following : ${followings}" th:if="${following.id == ChatSession.recipientUserId}" th:src="${following.getProfileImage()}" alt="User Avatar">
                    </div>
                    <div class="chat-details">
                        <span th:each="following : ${followings}" th:if="${following.id == ChatSession.recipientUserId}" class="chat-username">
                            <span th:text="${following.username}"></span>
                        </span>
                        <p class="chat-message" th:text="${ChatSession.content}"></p>
                        <p class="chat-timestamp"><small th:text="${ChatSession.timestamp}"></small></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="chat-area">
        <div th:if="${motd != null}">
            <p th:text="${motd}" style="text-align: center; margin-top: 50px; font-size: 1.2em; color: gray;"></p>
        </div>
        <div th:if="${motd == null}">
            <div class="header">
                <div class="user-info">
                    <img th:src="${recipientUserProfileImage}" alt="User Avatar">
                    <div>
                        <span class="username" th:text="${recipientUsername}"></span>
                        <!--<span class="status" th:text="${partnerStatus}"></span>-->
                    </div>
                </div>
                <button id="leaveChatButton" class="leave-chat-button"> <a th:href="@{'/user/leave/' + ${sessionId}}">Leave</a> </button>
                <!-- 나가기 버튼 클릭 시 확인 요청 모달 -->
                <div id="leaveChatConfirm" class="modal leave-chat-modal">
                    <div class="modal_popup">
                        <h3>채팅방을 나가시겠습니까?</h3>
                        <button id="confirmLeave">나가기</button>
                        <button onclick="closeModal('leaveChatConfirm')">취소</button>
                    </div>
                </div>
            </div>
            <div class="msg-area-container">
                <div class="msg-area" id="msgArea" th:unless="${isNewUser}">
                    <div class="message-item" th:each="message : ${chatMessages}">
                        <span class="message-sender" th:text="${message.senderUserId}"></span>
                        <span class="message-content" th:text="${message.content}"></span>
                        <span class="message-timestamp" th:text="${#dates.format(message.timestamp, 'HH:mm')}"></span>
                    </div>
                </div>
            </div>
            <div class="input-area">
                <label for="msg"></label><input type="text" id="msg" placeholder="Type a message...">
                <button id="button-send">Send</button>
                <input type="hidden" id="senderId" th:value="${userID}"/>
                <input type="hidden" id="recipientId" th:value="${recipientUserId}"/>
                <input type="hidden" id="sessionId" th:value="${sessionId}"/>
            </div>
        </div>
    </div>
</div>
<div class="modal add-chat-modal">
    <div class="modal_popup">
        <div class="modal_header">
            <h3 style="text-align: center">새로운 메세지</h3>
            <button type="button" class="before_btn" style="display: none;">이전</button>
        </div>
        <div id="select_follower_screen" class="screen">
            <hr>
            <ul class="list-group">
                <li th:each="following : ${followings}" class="modal_follow_list list-group-item">
                    <button class="sel_follow_btn" th:data-user-id="${following.id}"><span th:text="${following.username}"></span></button>
                </li>
            </ul>
            <button type="button" class="close_btn">닫기</button>
        </div>

        <div id="message_input_screen" class="screen" style="top: -93%">
            <hr>
            <input type="text" id="message_input" placeholder="메세지를 입력하세요...">
            <button id="send_message_btn">보내기</button>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    var loggedInUserId = [[${userID}]];
    console.log(`Logged-in User ID: ${loggedInUserId}`);

    <!--! 보여질 모달 JS Start-->
    // addChatButton 모달 열기
    document.getElementById('addChatButton').addEventListener('click', function () {
        document.querySelector('.add-chat-modal').style.display = 'block';
    });

    // addChatButton 모달 닫기
    document.querySelector('.close_btn').addEventListener('click', function () {
        document.querySelector('.add-chat-modal').style.display = 'none';
    });

    // 모달 외부 클릭 시 addChatButton 모달 닫기
    window.addEventListener('click', function (event) {
        if (event.target.classList.contains('add-chat-modal')) {
            document.querySelector('.add-chat-modal').style.display = 'none';
        }
    });

    <!-- ! 보여질 모달 JS End -->

    <!--! 모달에서 화면 이동 JS START !-->
    document.querySelectorAll('.sel_follow_btn').forEach(button => {
        button.addEventListener('click', (event) => {
            const userId = button.getAttribute('data-user-id');
            console.log(`Selected User ID: ${userId}`);
            // select_follower_screen을 왼쪽으로 슬라이드 아웃
            document.getElementById('select_follower_screen').style.transform = 'translateX(-150%)';
            // message_input_screen을 오른쪽에서 중앙으로 슬라이드 인
            document.getElementById('message_input_screen').style.transform = 'translateX(0)';
            // 선택한 유저의 ID를 button에 저장
            document.getElementById("send_message_btn").setAttribute('data-user-id', userId);
            // 이전 버튼 표시
            document.querySelector('.before_btn').style.display = 'inline-block';
        });
    });

    document.querySelectorAll('.before_btn').forEach(button => {
        button.addEventListener('click', () => {
            requestAnimationFrame(() => {
                // select_follower_screen을 원래 위치로 되돌림
                document.getElementById('select_follower_screen').style.transform = 'translateX(0)';
                // message_input_screen을 오른쪽으로 슬라이드 아웃
                document.getElementById('message_input_screen').style.transform = 'translateX(150%)';
                // 이전 버튼 숨기기
                document.querySelector('.before_btn').style.display = 'none';
            });
        });
    });

    <!-- leaveChatButton 모달 JS Start -->
    // leaveChatButton 클릭 이벤트
    document.getElementById('leaveChatButton').addEventListener('click', function(event) {
        event.preventDefault(); // 기본 이벤트 차단
        document.getElementById('leaveChatConfirm').style.display = 'block'; // 확인 모달 표시
    });

    // leaveChatButton 모달 닫기 함수
    function closeModal(modalId) {
        document.getElementById(modalId).style.display = 'none';
    }

    // 나가기 모달에서 나가기 확정
    document.getElementById('confirmLeave').addEventListener('click', function() {
        window.location.href = document.querySelector('#leaveChatButton a').href; // 실제 나가기 처리
    });

    // 모달 외부 클릭 시 leaveChatButton 모달 닫기
    window.addEventListener('click', function (event) {
        if (event.target.classList.contains('leave-chat-modal')) {
            document.querySelector('.leave-chat-modal').style.display = 'none';
        }
    });
    <!-- leaveChatButton 모달 JS End -->

    // 검색 기능
    document.getElementById('searchInput').addEventListener('keyup', function () {
        let filter = this.value.toLowerCase();
        let chatItems = document.querySelectorAll('.chat-item');

        chatItems.forEach(function (item) {
            let username = item.querySelector('.chat-username').textContent.toLowerCase();
            let message = item.querySelector('.chat-message').textContent.toLowerCase();

            if (username.includes(filter) || message.includes(filter)) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
    });
</script>
<script th:src="@{/js/chat.js}" src="/static/js/chat.js"></script>
</body>
</html>
