<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioHub</title>
    <link rel="stylesheet" th:href="@{/css/portfolio/portfolio.css}" href="/static/css/portfolio/portfolio.css"/>
    <link rel="stylesheet" th:href="@{/css/portfolio/portfolioguide.css}"
          href="/static/css/portfolio/portfolioguide.css"/>
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>

    <link rel="icon" href="https://porthub2.s3.ap-northeast-2.amazonaws.com/favicon.ico" />
    <link rel="shortcut icon" href="#">
</head>
<body>

<h1>
    No Chatting Service
</h1>
<h4>현재 채팅 서비스는 중단되었습니다.</h4>

</body>
</html>