<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <style>
        body {
            /*background: url("/images/iim.png") no-repeat;*/
            background-size: cover;
        }
    </style>

    <link rel="stylesheet" th:href="@{/css/profile/profile.css}"/>
    <link rel="stylesheet" th:href="@{/css/profile/profileguide.css}" />
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
</head>
<body>

<header th:replace="~{fragments/header::headerFragment}"></header>

<div class="wrap-container">
    <div class="home-container">
        <div class="main">
            <div class="page-header">
                <div class="image-wrap-outer">
                    <div class="image-wrap-inner">
                        <div class="image">
                            <img th:src="${member.backImage}">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="avatar-profile-photo">
                        <img th:src="${member.profileImage}">
                    </div>
                    <div class="content">
                        <div class="heading">
                            <div class="text-and-supporting">
                                <div class="text col-2">
                                    <div th:text="${member.UserName}"></div>
                                    <div class="col-2">
                                        <div class="follow">
                                            <span>팔로워</span><span>nn</span>
                                        </div>
                                        <div class="follow">
                                            <span>팔로잉</span><span>nn</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="olivia-untitledui">
                                    <div>
                                        <span>소속 </span><span th:text="${UserMeta.aff}">aff</span>
                                    </div>
                                    <div>
                                        <span>링크 </span><span th:text="${UserMeta.link}">link</span>
                                    </div>
                                    <div>
                                        <span>경력 </span><span th:text="${UserMeta.career}">career</span>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <a th:if="${#authentication.name==member.email}" th:href="@{'/profile/'+${member.userName}+'/edit'}">
                                    <ion-icon name="settings-outline"></ion-icon>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div>
                    <div>자기소개</div>
                    <div th:text="${UserMeta.intro}"></div>
                </div>
                <div class="container">
                    <div>포트폴리오</div>
                    <div class="cards-section">
                        <div class="div-2">
                            <img class="image" src="img/image-2.png" />
                            <div class="title-description">
                                <div class="text-wrapper-5">Project title</div>
                                <div class="text-wrapper-6">UI, Art drection</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <img class="image" src="img/image-6.png" />
                            <div class="title-description">
                                <div class="text-wrapper-7">Project title</div>
                                <div class="text-wrapper-6">UI, Art drection</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <img class="image" src="img/image-3.png" />
                            <div class="title-description">
                                <div class="text-wrapper-7">Project title</div>
                                <div class="text-wrapper-6">UI, Art drection</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <img class="image" src="img/image.png" />
                            <div class="title-description">
                                <div class="text-wrapper-7">Project title</div>
                                <div class="text-wrapper-6">UI, Art drection</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <img class="image" src="img/image-4.png" />
                            <div class="title-description">
                                <div class="text-wrapper-7">Project title</div>
                                <div class="text-wrapper-6">UI, Art drection</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <img class="image" src="img/image-5.png" />
                            <div class="title-description">
                                <div class="text-wrapper-7">Project title</div>
                                <div class="text-wrapper-6">UI, Art drection</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer::footerFragment}"></footer>

</body>
</html>
