<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioHub</title>
    <link rel="icon" th:href="favicon.ico" href="/static/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/about/view.css}" href="/static/css/about/view.css">

    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
</head>
<body>

<header th:replace="~{fragments/header::headerFragment}"></header>
<div class="header-image-container">
    <img class="header-image"
         src="https://cdn.inflearn.com/public/files/posts/3dc171db-6fbb-4561-b0cd-d8f5577e9b87/roadmap_2.jpg"
         alt="Main Page Header Image">
</div>

<div class="wrap-container">
    <div class="home-container">
        <div class="section-list">
            <br>
            <div class="list-title-deco">history</div>
            <section class="history-section-list">
                <div class="slider-container">
                    <button class="nav-button prev-button" onclick="slide(-1, 'history-slider')">&#10094;</button>
                    <div class="slider" id="history-slider">
                        <div th:if="${hasHistory}" th:each="HistoryPortViewDtoList: ${HistoryPortViewDtoList}"
                             class="image-container">
                            <div class="port-2">
                                <div class="title-description">
                                    <div class="text-wrapper-5"
                                         th:data-src="${HistoryPortViewDtoList.Thumbnail_url}"
                                         th:onclick="'goToDetailPage(\'' + ${HistoryPortViewDtoList.PortfolioID} + '\')'"></div>
                                    <div class="profile-wrapper">
                                        <img class="profile-image" th:src="${HistoryPortViewDtoList.profileImage}"
                                             src="/static/images/profiletest.jpeg"
                                             th:attr="data-user-name=${HistoryPortViewDtoList.UserName}"
                                             onclick="goToProfilePage(this.getAttribute('data-user-name'))"/>
                                    </div>
                                    <div class="title-deco" th:text="${HistoryPortViewDtoList.UserName}"></div>
                                    <div class="text-wrapper-6" th:text="${HistoryPortViewDtoList.Title}"></div>
                                </div>
                            </div>
                        </div>
                        <div th:unless="${hasHistory}">
                            <p>No history available.</p>
                        </div>
                    </div>
                    <button class="nav-button next-button" onclick="slide(1, 'history-slider')">&#10095;</button>
                </div>
            </section>

            <br><br>

            <div class="list-title-deco">Likes</div>
            <section class="likes-section-list">
                <div class="slider-container">
                    <button class="nav-button prev-button" onclick="slide(-1, 'likes-slider')">&#10094;</button>
                    <div class="slider" id="likes-slider">
                        <div th:if="${hasLikes}" th:each="LikesPortViewDtoList: ${LikesPortViewDtoList}"
                             class="image-container">
                            <div class="port-2">
                                <div class="title-description">
                                    <div class="text-wrapper-5" th:data-src="${LikesPortViewDtoList.Thumbnail_url}"
                                         th:onclick="'goToDetailPage(\'' + ${LikesPortViewDtoList.PortfolioID} + '\')'"></div>
                                    <div class="profile-wrapper">
                                        <img class="profile-image" th:src="${LikesPortViewDtoList.profileImage}"
                                             src="/static/images/profiletest.jpeg"
                                             th:attr="data-user-name=${LikesPortViewDtoList.UserName}"
                                             onclick="goToProfilePage(this.getAttribute('data-user-name'))"/>
                                    </div>
                                    <div class="title-deco" th:text="${LikesPortViewDtoList.UserName}"></div>
                                    <div class="text-wrapper-6" th:text="${LikesPortViewDtoList.Title}"></div>
                                </div>
                            </div>
                        </div>
                        <div th:unless="${hasLikes}">
                            <p>No Likes available.</p>
                        </div>
                    </div>
                    <button class="nav-button next-button" onclick="slide(1, 'likes-slider')">&#10095;</button>
                </div>
            </section>

        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer::footerFragment}"></footer>

</body>
<script>
    let currentSlideIndex = {
        'history-slider': 0,
        'likes-slider': 0
    };

    function goToDetailPage(portfolioId) {
        // 클릭된 이미지의 포트폴리오 ID를 사용하여 상세 페이지로 이동
        window.location.href = '/ports/views/' + portfolioId;
    }

    function slide(direction, sliderId) {
        const slider = document.getElementById(sliderId);
        const totalItems = slider.children.length;
        const itemsPerSlide = 5;

        currentSlideIndex[sliderId] += direction * itemsPerSlide;

        if (currentSlideIndex[sliderId] < 0) {
            currentSlideIndex[sliderId] = totalItems - itemsPerSlide;
        } else if (currentSlideIndex[sliderId] >= totalItems) {
            currentSlideIndex[sliderId] = 0;
        }

        const transformValue = `translateX(-${currentSlideIndex[sliderId] * (100 / itemsPerSlide)}%)`;
        slider.style.transform = transformValue;
    }
</script>
<script th:src="@{/js/main.js}" src="/static/js/main.js"></script>
</html>
