<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Session Expired</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PortfolioHub</title>

  <link rel="icon" href="https://porthub2.s3.ap-northeast-2.amazonaws.com/favicon.ico" />
  <link rel="stylesheet" th:href="@{/css/portfolio/portfolio.css}" href="/css/portfolio/portfolio.css" />
  <link rel="stylesheet" th:href="@{/css/portfolio/portfolioguide.css}" href="/css/portfolio/portfolioguide.css" />
  <th:block th:replace="~{fragments/config::configFragment}"></th:block>
  <script>
    function showLogoutSuccessPopup() {
      alert("You have successfully logged out.");
      window.location.href = "/about";  // 로그인 페이지로 리다이렉트
    }

    window.onload = showLogoutSuccessPopup;
  </script>
</head>
<body>

<header th:replace="~{fragments/header::headerFragment}"></header>


<div class="desktop">
  <div class="port">
  </div>
</div>

<footer th:replace="~{fragments/footer::footerFragment}"></footer>
<!-- 세션 만료 알림 팝업 -->
</body>
</html>
