<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session Expired</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioHub</title>
    <link rel="icon" th:href="porthub.ico" href="/static/porthub.ico" />
    <link rel="stylesheet" th:href="@{/css/portfolio/portfolio.css}" href="/css/portfolio/portfolio.css" />
    <link rel="stylesheet" th:href="@{/css/portfolio/portfolioguide.css}" href="/css/portfolio/portfolioguide.css" />
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
    <script>
        function showSessionExpiredPopup() {
            alert("세션이 만료되었거나 로그아웃되었습니다.");
            window.location.href = "/";
        }

        window.onload = showSessionExpiredPopup;
    </script>
</head>
<body>

<header th:replace="~{fragments/header::headerFragment}"></header>


<div class="desktop">
    <div class="port">
    </div>
</div>

<footer th:replace="~{fragments/footer::footerFragment}"></footer>
<!-- 세션 만료 알림 팝업 -->
</body>
</html>
