@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-position: inside;
}

.container {
    width: 90%;
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

pre {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: whitesmoke;
    padding: 10px;
    /*white-space: break-spaces;*/
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

code {
    font-family: monospace;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}


input[class="input-file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    height: 480px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    .section-first, .section-second, .section-third, .section-forth, .second-fifth {
        flex-direction: column;
    }

    .thumb-nail, .category-btn, .port-title, .write-style, .left-section, .right-section {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .port-btn-container {
        flex-direction: column;
    }

    .select-file {
        top: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .write-container {
        flex-direction: column;
    }
    .left-section,
    .right-section {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* 추가한 스타일 */
.port-write {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.section {
    margin-bottom: 20px;
}

.section-first {
    display: flex;
}

.thumb-nail {
    flex-grow: 2;
    flex-basis: 0;
    margin-right: 30px;
}

.category-btn {
    flex-grow: 5;
    flex-basis: 0;
    height: 5rem;
}

.left-section {
    margin-right: 0px;
    height: 600px;
    margin-bottom: 20px;
}

.right-section {
    position: relative;
    margin-bottom: 20px;
}

.input-file, #thumbnail{
    width: calc(100% - 20px); /* 부모 요소의 너비에서 마진값을 제외한 크기로 설정 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.fraged {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.port-btn-container {
    display: flex;
    justify-content: space-around;
}

.write-container {
    /*display: flex;*/
    justify-content: space-between;
}


.select-file {
    position: relative;
    max-width: 100%;
    max-height: 80%;
    display: none;
}

.select-thumbnail {
    position: relative;
    max-width: 100%;
    display: none;
}
.select-thumbnail,
.thumb-nail {
    max-height: 80%;
}

.delete-button-wrapper {
    display: flex;
    justify-content: right;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.delete-button {

}


.w-btn {
    background-color: #EFEFEF;
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    color: black;
}


.w-btn:hover {
    letter-spacing: 1px;
    transform: scale(1.1);
    cursor: pointer;
}


.w-btn:active {
    transform: scale(1.3);
}

/*textarea {*/
/*    width: 30%;*/
/*    height: 200px;*/
/*    font-size: 16px;*/
/*    margin-bottom: 10px;*/
/*}*/

.markdown-text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%; /* textarea의 width와 동일하게 설정 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    white-space: nowrap; /* 한 줄로 표시 */
    position: relative; /* 상대 위치 설정 */
}

.markdown {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%; /* markdown-container의 크기와 동일하게 설정 */
    height: 460px; /* markdown-container의 크기와 동일하게 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
    white-space: normal;
}

.markdown-btn {
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.markdown-btn:hover {
    background-color: #0056b3;
}

.left-section-container {
    display: flex;
}

.markdown-container {
    margin-bottom: 10px;
}

.image-design-put {
    display: block;
    max-height: 80%;
    position: relative;
    max-width: 100%;
}