
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .port {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
}

.desktop .navbar {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 61px;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #ffffff;
}

.desktop .frame {
    display: flex;
    width: 1197px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.desktop .group {
    position: relative;
    width: 180px;
    height: 24.62px;
}

.desktop .portfolio-wrapper {
    position: absolute;
    width: 81px;
    height: 24px;
    top: 1px;
    left: 99px;
}

.desktop .portfolio {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--ocean-dark);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.desktop .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--ocean-dark);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .vector {
    position: relative;
    width: 9px;
    height: 5px;
}

.desktop .frame-3 {
    display: flex;
    width: 222px;
    height: 51px;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    position: relative;
}

.desktop .button-fill-rounded {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 121px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    margin-left: -35px;
    background-color: var(--ocean-dark);
    border-radius: 25px;
    overflow: hidden;
}

.desktop .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--font-colorpure-white);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.desktop .button-outline-sm {
    display: flex;
    width: 121px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid;
    border-color: var(--ocean-dark);
    background-color: var(--transparent);
}

.desktop .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--ocean-dark);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.desktop .text-wrapper-4 {
    position: absolute;
    top: 6px;
    left: 508px;
    -webkit-text-stroke: 1px #1e1e1e;
    font-family: "Poppins-Thin", Helvetica;
    font-weight: 100;
    color: #1e1e1e;
    font-size: 44px;
    text-align: center;
    letter-spacing: 2.2px;
    line-height: 34px;
    white-space: nowrap;
    border-color: var(--ocean-dark);
}

.desktop .gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    padding: 20px 24px;
    top: 153px;
    left: 80px;
    background-color: #ffffff;
}

.desktop .cards-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.desktop .port-2 {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.desktop .image {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 5%;
}

.desktop .title-description {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.title-deco {
    font-weight: bold;
}

.desktop .text-wrapper-5 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: bolder;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
}

.desktop .text-wrapper-6 {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 600;
    color: var(--black);
    font-size: 14px;
    letter-spacing: 0;
}

.desktop .text-wrapper-7 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--black);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    height: 100%;
    flex-wrap: nowrap; /* 내용이 넘치지 않고 한 줄에 표시되도록 설정 */
    margin: 0; /* container 마진 제거 */
    flex-direction: column;
}
.scroll-section {
    flex: 1;
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    padding: 20px;
}
.fixed-section {
    /*width: 25%; !* 고정된(Fixed) 너비 *!*/
    padding: 20px;
    background-color: #fff; /* 오른쪽 영역 배경색 */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed; /* 고정 위치로 설정 */
    top: 0; /* 화면 상단에 고정 */
    right: 0; /* 화면 우측에 고정 */
    bottom: 0; /* 화면 하단까지 고정 */
    border-left: 1px solid #ccc; /* 왼쪽 섹션과 구분을 위한 선 */
}
.fixed-section > div {
    border-bottom: 1px solid #ccc; /* 위아래 섹션과 구분을 위한 선 */
    text-align: left;
}
.fixed-section > .fixed-up {
    height: 40%; /* 위쪽 섹션의 높이를 40%로 설정 */
    overflow-y: auto; /* 섹션의 내용이 넘칠 경우 스크롤 허용 */
}
.fixed-section > .fixed-down {
    height: 60%; /* 아래쪽 섹션의 높이를 60%로 설정 */
    overflow-y: auto; /* 섹션의 내용이 넘칠 경우 스크롤 허용 */
}
.fixed-section > div:last-child {
    border-bottom: none; /* 맨 아래 섹션은 선 제거 */
}
.port {
    height: 100%; /* 전체 화면 높이 설정 */
    margin-right: 25%; /* 오른쪽 고정된 섹션의 너비만큼 왼쪽 여백 추가 */
}


/* .port-2 요소를 감싸는 박스 스타일 */
.port-wrapper {
    border: 1px solid #ccc; /* 박스의 테두리 스타일 */
    padding: 4px; /* 내부 여백 조정 */
    margin-bottom: 20px; /* .port-2 요소들 사이 간격 조정 */
    width: calc(25% - 30px); /* 너비를 25%로 설정하고 마진을 고려하여 조정합니다. */
    margin: 0 4px; /* 가운데 정렬 */
    float: left; /* 좌측 정렬 */
    border-radius: 5%;
    height: 230px;
}

/* 마지막 .port-wrapper의 margin-bottom 제거 */
.port-wrapper:last-child {
    margin-bottom: 0;
}

.profile-wrapper {
    width: 30px; /* Adjust the size of the circular profile image */
    height: 30px;
    border-radius: 50%; /* Makes the image circular */
    overflow: hidden; /* Hides any image overflow */
    margin-right: 4px; /* Adjust spacing between profile image and text */
    float: left; /* Float the profile image to the left */
}

.profile-image {
    width: 100%; /* Ensures the image takes up the full space of its container */
    height: 100%;
    display: block;
    cursor: pointer;
}

.profile-image-sm{
    width:30px;
    height:30px;
    border-radius:1rem;
}

img {
    border-radius: 5%;
}


.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.button-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
}

.button-container button {
    margin-right: 10px;
}

.second-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* 왼쪽 여백을 자동으로 조정하여 가운데 정렬 */
    margin-right: auto; /* 오른쪽 여백을 자동으로 조정하여 가운데 정렬 */
}

.search-bar input[type="text"] {
    padding: 15px;
    width: 600px; /* 원하는 너비 설정 */
}
.left-btn {
    margin-right: auto;
    align-content: center;
}

button {
    margin: 20px;
}

a {
    font-size: 12px;
    color: black;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: 800;
    transition: 0.25s;
}


.w-btn:hover {
    letter-spacing: 1px;
    transform: scale(1.1);
    cursor: pointer;
}


.w-btn:active {
    transform: scale(1.3);
}

.search-btn:hover {
    letter-spacing: 1px;
    transform: scale(1.1);
    cursor: pointer;
}

.port-wrapper {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    transition: 0.25s;
}
.port-wrapper:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    cursor: pointer;
}

.Popularity {
    display: flex; /* Flexbox를 사용하여 요소들을 한 줄로 정렬합니다. */
    align-items: center; /* 세로 방향 가운데 정렬합니다. */
    margin-bottom: 10px; /* 요소들 사이의 간격을 설정합니다. */
}

.follow-btn {
    background-color: black;
    border:none;
    color: white;
    margin: 10px;
    font: revert;
    font-size: small;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.follow-btn:hover {
    background-color: #555555 !important;
}

.history_section img {
    max-width: 20rem; /* 원하는 최대 너비 설정 */
    max-height: 13rem; /* 원하는 최대 높이 설정 */
}
.history-image img{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 5px;
    float: left;
    border-radius: 5%;
    margin: 0 4px 1rem;
}


/* 페이지 상단 이미지를 위한 스타일 */
.header-image-container {
    text-align: center; /* 텍스트와 이미지를 가운데 정렬 */
    position: relative;
}
.header-image {
    width: 100%; /* 화면 너비에 맞게 이미지 크기 조정 */
    height: auto;
    display: block;
}
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; /* 원하는 글꼴 크기로 조정하세요 */
    color: black; /* 글꼴 색상 설정 */
}
.profile-wrapper:hover {
    /* 이미지 요소에 대한 부모 요소의 hover 효과 */
    /* 이미지 요소가 부모 요소의 hover 상태일 때의 스타일을 지정합니다. */
    transform: scale(1.4); /* 이미지를 1.1배 확대합니다. */
    transition: transform 0.3s ease; /* 확대 효과를 부드럽게 적용합니다. */
}
.text-wrapper-5:hover {
    transform: scale(1.1); /* 이미지를 1.1배 확대합니다. */
    transition: transform 0.3s ease; /* 확대 효과를 부드럽게 적용합니다. */
}
.history-image {
    width: 20rem;
    height: 13rem;;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
}

.w-btn-indigo.active {
    background-color: #868e96; /* 활성 상태 버튼 색상 */
}


.pagination {
    margin-top: 20px; /* 페이지네이션과 상위 요소 간의 간격 설정 */
    text-align: center; /* 페이지네이션을 가운데 정렬 */
    padding-bottom: 20px;
}

.pagination ul {
    list-style: none; /* 기본 목록 스타일 제거 */
    padding: 0; /* 목록 내부 패딩 제거 */
}

.pagination li {
    display: inline-block; /* 페이지네이션 요소들을 가로로 배치 */
    margin: 0 5px; /* 각 페이지네이션 요소 사이의 간격 설정 */
}

.pagination a {
    color: #333; /* 페이지 번호 링크의 글자색 설정 */
    padding: 5px 10px; /* 페이지 번호 링크의 패딩 설정 */
    text-decoration: none; /* 링크의 밑줄 제거 */
    border: 1px solid #ccc; /* 링크 주변의 테두리 스타일 설정 */
    border-radius: 3px; /* 링크 주변의 테두리 모서리 둥글게 설정 */
}

.pagination a.active,
.pagination a:hover {
    background-color: #868e96; /* 활성화된 페이지 번호 또는 호버 상태일 때 배경색 설정 */
    color: #fff; /* 활성화된 페이지 번호 또는 호버 상태일 때 글자색 설정 */
    border-color: #868e96; /* 활성화된 페이지 번호 또는 호버 상태일 때 테두리 색 설정 */
}


.pagination ul li.active a {
    background-color: #868e96; /* 활성 상태 버튼 배경 색상 */
    color: #fff; /* 활성 상태 버튼 텍스트 색상 */
    cursor: default;
}

.create-section video,
.create-section audio,
.create-section img {
    max-width: 20rem;
    width: 15rem;
    max-height: 13rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 5px;
    float: left;
    border-radius: 5%;
    margin: 0 4px 1rem;
}

/* For smaller screens */
@media screen and (max-width: 768px) {
    .desktop .navbar {
        width: 100%; /* Adjust navbar width for smaller screens */
        padding: 20px; /* Adjust padding for smaller screens */
        top: 0; /* Adjust top position */
    }
    .desktop .frame {
        width: 100%; /* Adjust frame width for smaller screens */
        padding: 20px; /* Adjust padding for smaller screens */
    }
    /* Add more responsive adjustments as needed */
}

/* For larger screens */
@media screen and (max-width: 1200px) {

    .fixed-section {
        display: none; /* fixed-section 요소 숨기기 */
    }
    .desktop {
        display: block;
    }
    .button-container {
        display: block;
    }
    .search-bar {
        display: block;
    }
    .second-container {
        display: block;
    }
    .search-bar input[type="text"] {
        width: 300px;
    }
    .scroll-section {
        display: block;
        padding: 0px;
        overflow-y: hidden;
    }

}