.main{
    position:relative;
    width:100vw;
    height:100vh;
    display: flex;
    top:60px;
}

.mentocontent{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 80vh;
}

.mento-box{
    display:flex;
    flex-direction: column;
    gap: 10px;
    height:50%;
}

.box-body{
    display:flex;
    flex-direction: column;
    border:solid 1px;
    padding: 20px;
    gap:10px;
}

.mento-item{
    display:flex;
    justify-content: space-between;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.btn {
    position: relative;
    border: none;
    display: inline-block;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: 800;
    transition: 0.25s;
}
a{
    text-decoration: none;
}