* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow-y: unset;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 3rem;
    background-color: #fff;
    overflow: unset;
    /*position: fixed;*/
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 29rem;
    height: 100%;
    padding: 1rem;
    align-items: center;
    flex-shrink: 0;
    overflow-y: auto;
}

.sidebar .header,
.sidebar .chat-list,
.sidebar .chat-item,
.sidebar .chat-link,
.sidebar .chat-avatar,
.sidebar .chat-details,
.sidebar .chat-username,
.sidebar .chat-message,
.sidebar .chat-timestamp,
.chat-area,
.chat-area .header,
.chat-area .header .user-info,
.chat-area .header .user-info img,
.chat-area .header .user-info .username,
.chat-area .header .user-info .status,
.leave-chat-button,
.message-item,
.message-item.sent,
.message-item.received,
.message-content,
.message-item.sent .message-content,
.message-item.received .message-content,
.message-sender,
.message-timestamp,
.chat-area .input-area,
.chat-area .input-area input,
.chat-area .input-area button,
.search-bar,
.search-bar input[type="text"],
.modal,
.modal .modal_popup,
.modal .modal_popup .close_btn,
.modal_popup,
.modal_header,
.modal_header h3,
.modal_header .before_btn,
.screen,
.modal_follow_list,
.startChatButton,
#send_message_btn,
#select_follower_screen,
#message_input_screen {
    font-family: 'Poppins', sans-serif;
}

.sidebar .header {
    display: flex;
    width: 27.125rem;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.sidebar .chat-list {
    display: flex;
    padding: 0rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.sidebar .chat-item {
    display: flex;
    padding: 0.75rem;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    border-bottom: 1px solid #f0f0f0;
}

.sidebar .chat-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.sidebar .chat-avatar {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.sidebar .chat-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar .chat-details {
    flex-grow: 1;
}

.sidebar .chat-username {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.sidebar .chat-message {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.sidebar .chat-timestamp {
    font-size: 12px;
    color: #999;
    text-align: right;
}

button#addChatButton {
    border: none;
    outline: none;
    background: none;
}

.chat-area {
    height: calc(100% - 3rem);
    /* Subtract the margin from the top */
    width: calc(100% - 29rem);
    /* Subtract the sidebar width */
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: unset;
    padding: 1.5rem;
    gap: 0.5rem;
    background-color: #fff;
    margin-left: auto;
    /* Ensure it aligns to the right of the sidebar */
}

.chat-area .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-bottom: 0.0625rem solid #ddd;
    position: static;
    top: 3rem;
    background-color: white;
}

.chat-area .header .user-info {
    display: flex;
    align-items: center;
}

.chat-area .header .user-info img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.625rem;
}

.chat-area .header .user-info .username {
    font-weight: bold;
}

.chat-area .header .user-info .status {
    font-size: 0.75rem;
    color: #888;
}

.msg-area-container {
    overflow-y: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    max-height: 37rem;
    min-height: 37rem;
    display: flex;
    flex-direction: column;
}

.msg-area {
    overflow-y: scroll;
    flex-grow: 1;
}

.leave-chat-button {
    border: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    background-color: #333333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.5s;
}

.leave-chat-button:hover {
    background: var(--black);
    color: var(--white);
}

.message-item {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.message-item.sent {
    justify-content: flex-end;
}

.message-item.received {
    justify-content: flex-start;
}

.message-content {
    padding: 8px 12px;
    border-radius: 15px;
    max-width: 70%;
}

.message-item.sent .message-content {
    background-color: #333333;
    color: #FFFFFF;
}

.message-item.received .message-content {
    background-color: #F1F1F1;
    color: #000000;
}

.message-sender {
    font-weight: bold;
    margin-right: 5px;
}

.message-timestamp {
    font-size: 12px;
    color: #888;
    margin-left: 5px;
}


.chat-area .input-area {
    display: flex;
    /* padding: 1.5rem; */
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    /*position: fixed;*/
    /*bottom: 1rem;*/
    background-color: white;
}

.chat-area .input-area input {
    height: 3rem;
    padding: 0.625rem 1.25rem;
    flex-grow: 1;
    border-radius: 0.75rem;
    border: 2px solid #E2E8F0;
    background: #FFF;
}

.chat-area .input-area button {
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 1.25rem;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
}

.search-bar {
    display: flex;
    padding: 0.75rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}

.search-bar input[type="text"] {
    width: 100%;
    height: 3rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.75rem;
    background: #F3F3F3;
    border: 0.0625rem solid #dddddd;
    outline: none;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}

.modal.on {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.modal .modal_popup {
    top: 25%;
    left: 25%;
    position: absolute;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.modal .modal_popup .close_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding: 10px 20px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.modal_popup {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
}

.modal_header h3 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    flex: 1;
}

.modal_header .before_btn {
    display: none;
    position: absolute;
    right: 10px;
    padding: 10px 20px;
    background-color: rgb(65, 147, 239);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.screen {
    position: relative;
    width: 100%;
    height: 90%;
    transition: transform 0.5s ease;
    box-sizing: border-box;
}

.modal_follow_list {
    list-style-type: none;
}

.startChatButton {}

#send_message_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding: 10px 20px;
    background-color: rgb(65, 147, 239);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

#select_follower_screen {
    transform: translateX(0);
    top: -1%;
}

#message_input_screen {
    transform: translateX(150%);
    top: -91%;
}