<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>

    <div th:replace="/fragments/nav.html :: fragment-nav"></div>

    <!-- 페이지 소스 -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Index</h1>
            <p class="lead">yeas</p>
        </div>
    </div>
    <!-- 페이지 소스 -->

    <footer th:replace="/fragments/footer.html :: fragment-footer"></footer>

</body>
</html>