<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
    <link href="../static/css/header.css" rel="stylesheet">
</head>
<body>

<header th:replace="~{fragments/header::headerFragment}"></header>

<footer th:replace="~{fragments/footer::footerFragment}"></footer>

</body>
</html>
