<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
    <select id="selectAllMento" resultType="MentoProcess">
        select * from MentoProcess where Process="1"
    </select>

    <select id="selectAllRequestMentoProcess" resultType="MentoProcess">
        select * from MentoProcess where Process="0"
    </select>

    <update id="UpdateMentoProcess" parameterType="MentoProcess">
        update MentoProcess set Process=#{Process} where ProcessID=#{processID}
    </update>

    <delete id="DeleteMentoProcess" parameterType="MentoProcess">
        delete from MentoProcess where ProcessID=#{ProcessID}
    </delete>

    <select id="AllCopyRightList" resultType="Copyright">
        select * from CopyrightReport
        WHERE ReportState = 0
    </select>

    <select id="findUserNameByEmail" resultType="String" parameterType="String">
        SELECT UserName
        FROM Users
        WHERE Email = #{reporterEmail}
    </select>

    <select id="findUserNameByID" resultType="String" parameterType="int">
        SELECT UserName
        FROM Users
        WHERE UserID = #{reportedID}
    </select>

    <select id="AllUserList" resultType="hello.example.porthub.domain.AdminDto.UserAdminDto">
        SELECT UserID, UserName, Email, ProfileImage, backImage
        FROM Users
        WHERE NOT Role = "BAN"
    </select>

    <select id="findAllPortList" resultType="hello.example.porthub.domain.AdminDto.PortAdminDto">
        SELECT PortfolioID, AuthorID, Thumbnail_url, Title
        FROM Portfolios
    </select>

    <select id="findAllMentoringList" resultType="hello.example.porthub.domain.MentoringDto">
        SELECT *
        FROM Mentoring
    </select>
    <update id="UpdateState" parameterType="int">
        update CopyrightReport
        set ReportState = true
        where ReportID = #{ReportID}
    </update>
    <select id="findUserRoleByUserID" parameterType="int" resultType="String">
        SELECT Role
        FROM Users
        WHERE UserID = #{userID}
    </select>

    <update id="UserBanByUserID" parameterType="int">
        update Users
        set Role = "BAN"
        where UserID = #{userID}
    </update>


    <select id="AllBannedUserList" resultType="hello.example.porthub.domain.AdminDto.UserAdminDto">
        SELECT UserID, UserName, Email, ProfileImage, backImage
        FROM Users
        WHERE Role = "BAN"
    </select>

    <update id="UserLiftingbyUserID" parameterType="int">
        update Users
        set Role = "USER"
        where UserID = #{userID}
    </update>

</mapper>