<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

    <insert id="save" parameterType="Member">
        insert into Users(UserName, Email, PasswordHash, Role, RegistrationDate)
        values (#{UserName}, #{Email}, #{PasswordHash}, #{Role}, NOW())
    </insert>

    <select id="findByUserName" parameterType="String" resultType="member">
        select * from Users where UserName=#{UserName}
    </select>

    <select id="findByEmail" parameterType="String" resultType="member">
        select * from Users where Email=#{Email}
    </select>

    <select id="findByUserIDtoEmail" parameterType="String" resultType="member">
        SELECT UserID
        FROM Users
        WHERE Email = #{Email}
    </select>


    <select id="findByUserID" parameterType="int" resultType="User">
        select * from Usermeta where UserID=#{UserID}
    </select>

    <select id="findmemberByUserID" parameterType="int" resultType="member">
        select * from Users where UserID=#{UserID}
    </select>

    <insert id="newmeta" parameterType="int">
        insert into Usermeta(UserID) values(#{UserID})
    </insert>

    <update id="metaupdate" parameterType="User">
        update Usermeta set
                            intro = #{intro},
                            aff = #{aff},
                            link = #{link},
                            career = #{career}
                        where UserID = #{UserID}
    </update>

    <update id="imageupdate" parameterType="member">
        update Users set
                         ProfileImage=#{ProfileImage},
                         backimage=#{backImage}
        where UserID=#{UserID}
    </update>

    <select id="findByUserIDtoEmailcheck" parameterType="String" resultType="int">
        SELECT UserID
        FROM Users
        WHERE Email = #{currentEmail}
    </select>

<!--    <select id="countfollower" parameterType="int" resultType="int">-->
<!--        select count(*) from Follows where FollowerID=#{id}-->
<!--    </select>-->

<!--    <select id="countfollowing" parameterType="int" resultType="int">-->
<!--        select count(*) from Follows where FollowingID=#{id}-->
<!--    </select>-->

    <select id="getUserFollowerListbyID" parameterType="int" resultType="java.lang.Integer">
        SELECT FollowerID FROM Follows WHERE FollowingID = #{userid}
    </select>

    <select id="getUserFollowingListbyID" parameterType="int" resultType="java.lang.Integer">
        SELECT FollowingID FROM Follows WHERE FollowerID = #{userid}
    </select>

</mapper>
