<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
<!--    <insert id="save" parameterType="Member">-->
<!--    insert into Users(UserName, Email, PasswordHash, ProfileImage, AdditionalInfo, IsAdmin, IsMento)-->
<!--    values (#{UserName}, #{Email}, #{PasswordHash}, #{ProfileImage}, #{AdditionalInfo}, #{IsAdmin}, #{IsMento})-->
<!--    </insert>-->

    <insert id="save" parameterType="Member">
        insert into Users(UserName, Email, PasswordHash,RegistrationDate)
        values (#{UserName}, #{Email}, #{PasswordHash}, NOW())
    </insert>

    <select id="findByUserName" parameterType="String" resultType="member">
        select * from Users where UserName=#{UserName}
    </select>

    <select id="findByEmail" parameterType="String" resultType="member">
        select * from Users where Email=#{Email}
    </select>


</mapper>
