<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mento">

    <insert id="apply" parameterType="Mento">
        insert into Mento(UserID, Introduction, Ability, CareerCertification, UnivCertification, IssueCertification)
        values (#{UserID}, #{Introduction}, #{Ability}, #{CareerCertification}, #{UnivCertification}, #{IssueCertification})
    </insert>

    <insert id="upload" parameterType="Mentoring">
        insert into Mentoring(MentoID, CategoryID, Title, Content, Price, Thumbnail, file_urls)
        values (#{MentoID}, #{CategoryID}, #{Title}, #{Content}, #{Price}, #{Thumbnail}, #{file_urls})
    </insert>

    <select id="searchmentoring" resultType="MentoView">
        select UserID,UserName,profileImage,Price,MentoringID,Title,Thumbnail,mentoring_delete from Mentoring inner join Users on UserID=MentoID
            <where>
                <if test="CategoryID!=null and CategoryID!=1">and CategoryID=#{CategoryID}</if>
                <if test="searchString!=null">and Title like concat('%',#{searchString},'%')</if>
            </where>
    </select>

    <select id="selectmentoview" parameterType="int" resultType="MentoView">
        select UserID,UserName,profileImage,Price,MentoringID,Title,Thumbnail,mentoring_delete from Mentoring inner join Users on UserID=MentoID where MentoringID=#{MentoringID}
    </select>

    <select id="mentoring" parameterType="int" resultType="Mentoring">
        select * from Mentoring where MentoringID=#{MentoringID}
    </select>

    <select id="mymentoring" parameterType="int" resultType="Mentoring">
        select * from Mentoring where MentoID=#{MentoID}
    </select>

    <insert id="newmentoprocess" parameterType="MentoProcess">
        insert into MentoProcess(MentoID, Process) values(#{MentoID},#{Process})
    </insert>

    <update id="updatementoprocess" parameterType="MentoProcess">
        update MentoProcess set ProcessID=#{ProcessID} where ProcessID=#{ProcessID}
    </update>

    <select id="checkmentoprocess" parameterType="int" resultType="String">
        select Process from MentoProcess where MentoID=#{MentoID}
    </select>

    <select id="paidmentoringID" parameterType="int" resultType="String">
        select PaidProduct from Users where UserID=#{UserID}
    </select>

    <select id="mentoringcontent" parameterType="int" resultType="hello.example.porthub.domain.ActivityViewDto">
        select MentoringID,UserID,UserName,ProfileImage,Title,file_urls from Mentoring inner join Users on MentoID=UserID where MentoringID=#{MentoringID}
    </select>

    <update id="deletementoring" parameterType="int">
        update Mentoring set mentoring_delete=1 where MentoringID=#{MentoringID}
    </update>

    <select id="selectmento" parameterType="int" resultType="Mento">
        select * from Mento where UserID=#{UserID}
    </select>

    <update id="updatemento" parameterType="Mento">
        update Mento set Introduction=#{Introduction}, Ability=#{Ability}, CareerCertification=#{CareerCertification}, UnivCertification=#{UnivCertification}, IssueCertification=#{IssueCertification} where UserID=#{UserID}
    </update>

    <update id="updatecredit" parameterType="Mento">
        update Mento set credit=#{credit} where MentoID=#{MentoID}
    </update>


</mapper>