<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mento">

    <insert id="apply" parameterType="Mento">
        insert into Mento(UserID, Introduction, Ability, CareerCertification, UnivCertification, IssueCertification)
        values (#{UserID}, #{Introduction}, #{Ability}, #{CareerUrl}, #{UnivUrl}, #{IssueUrl})
    </insert>

    <insert id="upload" parameterType="Mentoring">
        insert into Mentoring(MentoID, Title, Content, Price, Thumbnail, file_urls)
        values (#{MentoID}, #{Title}, #{Content}, #{Price}, #{Thumbnail}, #{fileurls})
    </insert>

    <select id="allmentoring" resultType="MentoView">
        select UserID,UserName,profileImage,Price,MentoringID,Title,Thumbnail from Mentoring inner join Users on UserID=MentoID
    </select>

    <select id="mentoring" parameterType="int" resultType="Mentoring">
        select * from Mentoring where MentoringID=#{MentoringID}
    </select>

    <select id="searchmentoring" parameterType="String" resultType="MentoView">
        select UserID,UserName,profileImage,Price,MentoringID,Title,Thumbnail from Mentoring inner join Users on UserID=MentoID where Title like concat('%',#{searchString},'%')
    </select>

</mapper>