<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">
    <insert id="insertOrder" parameterType="Order">
        <selectKey keyColumn="OrderID" keyProperty="OrderID" resultType="java.lang.Integer" order="AFTER">
            select OrderID
            from MentoringOrder
            where
                pg=#{pg}
            and pay_method=#{pay_method}
            and name=#{name}
            and amount=#{amount}
            and buyer_email=#{buyer_email}
            and buyer_name=#{buyer_name}
            and buyer_tel=#{buyer_tel}
            and buyer_postcode=#{buyer_postcode}
            and buyer_addr=#{buyer_addr}
        </selectKey>
            insert into MentoringOrder(pg, pay_method, name, amount, buyer_email, buyer_name, buyer_tel, buyer_postcode, buyer_addr)
            values (#{pg}, #{pay_method}, #{name}, #{amount}, #{buyer_email}, #{buyer_name}, #{buyer_tel}, #{buyer_postcode}, #{buyer_addr})
    </insert>
</mapper>