<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Portfolio">
    <select id="findByCategory" resultType="portfolio">
        select CategoryName from Categories
    </select>

    <insert id="insertPortfolio" parameterType="portfolio">
        insert into Portfolios (AuthorID, Thumbnail_url, Title, ImageID, Hearts_count, Views_count, CreationDate, CategoryID, AttachmentsOrLinks)
        values (#{AuthorID}, #{Thumbnail_url}, #{Title}, #{ImageID}, #{Hearts_count}, #{Views_count}, #{CreationDate}, #{CategoryID}, #{AttachmentsOrLinks})
    </insert>

</mapper>