<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" th:href="@{/css/portfolio/portfolio.css}" href="/static/css/portfolio/portfolio.css" />
    <link rel="stylesheet" th:href="@{/css/portfolio/portfolioguide.css}" href="/static/css/portfolio/portfolioguide.css" />
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>

</head>
<body>

<header th:replace="~{fragments/header::headerFragment}"></header>
<div class="header-image-container">
    <img class="header-image" src="https://cdn.inflearn.com/public/files/posts/3dc171db-6fbb-4561-b0cd-d8f5577e9b87/roadmap_2.jpg" alt="Main Page Header Image">
    <!-- 이미지 가운데 텍스트 -->
    <div class="centered-text">ngnix zero-downtime Deployment!</div>
</div>
<div class="desktop">
    <div class="port">
        <div class="container">
            <div class="scroll-section">
                <!-- 상단 섹션 -->
                <div class="top-section">
                    <!-- 상단 섹션 -->
                    <div class="top-section">
                        <!-- 버튼 6개 -->
                        <div class="button-container">
                            <!--                            <button class="w-btn w-btn-indigo">버튼 1</button>-->

                            <button th:each="Category : ${Category}"
                                    th:text="${Category.CategoryName}"
                                    class="w-btn w-btn-indigo"
                                    th:classappend="${Category.CategoryName == CategoryName} ? ' active' : ''"
                                    onclick="navigateToCategory(this)">
                            </button>
                        </div>
                        <!-- 버튼 + 검색바-->
                        <div class="second-container">
                            <div class="left-btn">
                                <select th:if="${checkSearchNum} == 1" class="w-btn w-btn-indigo" id="sort-options" onchange="sortPortfolio()">
                                    <option value="NewestOrder" th:attr="selected=${selectedOrder == 'NewestOrder'}">최신순</option>
                                    <option value="PopularityOrder" th:attr="selected=${selectedOrder == 'PopularityOrder'}">인기순</option>
                                    <option value="ViewsOrder" th:attr="selected=${selectedOrder == 'ViewsOrder'}">조회순</option>
                                    <option value="OldestOrder" th:attr="selected=${selectedOrder == 'OldestOrder'}">오래된 순</option>
                                </select>
                                <select th:unless="${checkSearchNum} == 1" class="w-btn w-btn-indigo" id="sort-search-options" onchange="SearchsortPortfolio()">
                                    <option value="NewestOrder" th:attr="selected=${selectedOrder == 'NewestOrder'}">최신순</option>
                                    <option value="PopularityOrder" th:attr="selected=${selectedOrder == 'PopularityOrder'}">인기순</option>
                                    <option value="ViewsOrder" th:attr="selected=${selectedOrder == 'ViewsOrder'}">조회순</option>
                                    <option value="OldestOrder" th:attr="selected=${selectedOrder == 'OldestOrder'}">오래된 순</option>
                                </select>
                            </div>
                            <div class="search-bar">
                                <form id="search-form" th:if="${CategoryNameCheck} != 0" th:action="@{'/' + ${CategoryName} + '/search'}" method="get">
                                    <input class="w-btn" type="text" name="SearchQuery" placeholder="검색어를 입력하세요" th:value="${SearchQuery}">
                                    <button type="submit" class="w-btn w-btn-indigo">검색</button>
                                    <input type="hidden" class="encodedSearchQuery" th:value="${encodedSearchQuery}" />
                                </form>
                                <form th:unless="${CategoryNameCheck} != 0" th:action="@{/main/search}" method="get">
                                    <input class="w-btn" type="text" name="SearchQuery" placeholder="검색어를 입력하세요" th:value="${SearchQuery}">
                                    <button type="submit" class="w-btn w-btn-indigo">검색</button>
                                    <input type="hidden" class="encodedSearchQuery" th:value="${encodedSearchQuery}" />
                                </form>
                            </div>
                            <div class="right-btn">
                                <a href="ports/create" class="w-btn w-btn-indigo">
                                    포트폴리오 올리기
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-section">
                    <div class="cards-section">
                        <!-- 반복되는 요소 -->
                        <div th:if="${CategoryNameCheck} == 0" th:each="mainPortViewDtoList: ${mainPortViewDtoList}"  class="port-wrapper">
                            <div class="port-2">
                                <div class="title-description">
                                    <div class="text-wrapper-5" th:data-src="${mainPortViewDtoList.Thumbnail_url}" data-src="https://porthub2.s3.ap-northeast-2.amazonaws.com/None_Thumbnail.jpeg" th:onclick="'goToDetailPage(\'' + ${mainPortViewDtoList.PortfolioID} + '\')'"></div>
                                    <div class="profile-wrapper">
                                        <img class="profile-image" th:src="${mainPortViewDtoList.profileImage}" src="/static/images/profiletest.jpeg" th:attr="data-user-name=${mainPortViewDtoList.UserName}" onclick="goToProfilePage(this.getAttribute('data-user-name'))"/>
                                    </div>
                                    <div class="title-deco" th:text="${mainPortViewDtoList.UserName}"></div>
                                    <div class="text-wrapper-6" th:text="${mainPortViewDtoList.Title}"></div>
                                </div>
                            </div>
                        </div>
                        <div th:unless="${CategoryNameCheck} == 0" th:if="${mainPortViewDtoList.CategoryID} == ${CategoryNameCheck}" th:each="mainPortViewDtoList: ${mainPortViewDtoList}"  class="port-wrapper">
                            <div class="port-2">
                                <div class="title-description">
                                    <div class="text-wrapper-5" th:data-src="${mainPortViewDtoList.Thumbnail_url}" data-src="https://porthub2.s3.ap-northeast-2.amazonaws.com/None_Thumbnail.jpeg" th:onclick="'goToDetailPage(\'' + ${mainPortViewDtoList.PortfolioID} + '\')'"></div>
                                    <div class="profile-wrapper">
                                        <img class="profile-image" th:src="${mainPortViewDtoList.profileImage}" src="/static/images/profiletest.jpeg" th:attr="data-user-name=${mainPortViewDtoList.UserName}" onclick="goToProfilePage(this.getAttribute('data-user-name'))"/>
                                    </div>
                                    <div class="title-deco" th:text="${mainPortViewDtoList.UserName}"></div>
                                    <div class="text-wrapper-6" th:text="${mainPortViewDtoList.Title}"></div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <!-- 페이지네이션 -->
            <div th:if="${CategoryNameCheck} == 0" class="pagination">
                <ul>
                    <li th:if="${currentPage > 1}">
                        <a th:if="${checkSearchNum} == 1" th:href="@{'/main?categoryName=' + ${CategoryName} + '&page=' + (${currentPage} - 1) + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}">&laquo; Previous</a>
                        <a th:unless="${checkSearchNum} == 1" th:href="@{'/main/search?SearchQuery=' + ${encodedSearchQuery} + '&page=' + (${currentPage} - 1) + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}">&laquo; Previous</a>
<!--                        search 경로로 들어온 것들에 대한 a태그 경로 요청-->
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? ' active' : ''">
                        <a th:if="${checkSearchNum} == 1" th:href="@{'/main?categoryName=' + ${CategoryName} + '&page=' + ${i} + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}" th:text="${i}"></a>
                        <a th:unless="${checkSearchNum} == 1" th:href="@{'/main/search?SearchQuery=' + ${encodedSearchQuery} + '&page=' + ${i} + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}" th:text="${i}"></a>
                    </li>
                    <li th:if="${currentPage < totalPages}">
                        <a th:if="${checkSearchNum} == 1" th:href="@{'/main?categoryName=' + ${CategoryName} + '&page=' + (${currentPage} + 1) + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}">Next &raquo;</a>
                        <a th:unless="${checkSearchNum} == 1" th:href="@{'/main/search?SearchQuery=' + ${encodedSearchQuery} + '&page=' + (${currentPage} + 1) + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}">Next &raquo;</a>
                    </li>
                </ul>
            </div>

            <div th:unless="${CategoryNameCheck} == 0" class="pagination">
                <ul>
                    <li th:if="${currentPage > 1}">
                        <a th:if="${checkSearchNum} == 1" th:href="@{'/'+${CategoryName} + '?categoryName=' + ${CategoryName} + '&page=' + (${currentPage} - 1) + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}">&laquo; Previous</a>
                        <a th:unless="${checkSearchNum} == 1" th:href="@{'/' + ${CategoryName} + '/search?SearchQuery=' + ${encodedSearchQuery} + '&page=' + (${currentPage} - 1) + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}">&laquo; Previous</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? ' active' : ''">
                        <a th:if="${checkSearchNum} == 1" th:href="@{'/'+${CategoryName} + '?categoryName=' + ${CategoryName} + '&page=' + ${i} + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}" th:text="${i}"></a>
                        <a th:unless="${checkSearchNum} == 1" th:href="@{'/' + ${CategoryName} + '/search?SearchQuery=' + ${encodedSearchQuery} + '&page=' + ${i} + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}" th:text="${i}"></a>
                    </li>
                    <li th:if="${currentPage < totalPages}">
                        <a th:if="${checkSearchNum} == 1" th:href="@{'/'+${CategoryName} + '?categoryName=' + ${CategoryName} + '&page=' + (${currentPage} + 1) + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}">Next &raquo;</a>
                        <a th:unless="${checkSearchNum} == 1" th:href="@{'/' + ${CategoryName} + '/search?SearchQuery=' + ${encodedSearchQuery} + '&page=' + (${currentPage} + 1) + '&pageSize=' + ${pageSize} + '&order=' + ${selectedOrder}}">Next &raquo;</a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>
</div>

<div class="fixed-section">
    <div class="fixed-up">
        <br><br>
        <div>
            <h2 style="font-size: 1em; margin-bottom: 0.1em;">Popularity</h2>
        </div>
        <div th:each="idx : ${#numbers.sequence(1, 4)}" class="Popularity">
            <div class="profile-wrapper">
                <img class="profile-image" th:src="@{/images/profiletest.jpeg}" src="/static/images/profiletest.jpeg" />
            </div>
            <div>UserName</div>
            <button class="follow-btn">follow</button>
        </div>

    </div>
    <div class="fixed-down">
        <div>
            <h2 style="font-size: 1em; margin-bottom: 1em; margin-top: 10px;">History</h2>
        </div>

        <div class="history_section">
            <div th:each="idx : ${#numbers.sequence(1, 4)}" class="port-3">
                <div class="history-description">
                    <div class="history-image">
                        <img class="image" th:src="@{/images/iim.png}" src="/static/images/iim.png" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--<footer th:replace="~{fragments/footer::footerFragment}"></footer>-->

</body>
<script th:src="@{/js/main.js}" src="/static/js/main.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var categoryName = [[${CategoryName}]]; // Use Thymeleaf to get CategoryName as a string
    if (categoryName === "All") {
        categoryName = "main";
    }
    function sortPortfolio() {
        var sortOrder = document.getElementById("sort-options").value;
        window.location.href = "/" + categoryName + "?order=" + sortOrder;
    }

    function SearchsortPortfolio() {
        const sortOrder = document.getElementById("sort-search-options").value;
        const urlParams = new URLSearchParams(window.location.search);
        const searchQuery = urlParams.get('SearchQuery');
        const encodedSearchQuery = document.querySelector('.encodedSearchQuery').value;
        const page = urlParams.get('page') || 1;
        const pageSize = urlParams.get('pageSize') || 20;

        let categoryName = [[${CategoryName}]]; // 기본값을 설정하거나 Thymeleaf 변수를 사용하세요.
        if (categoryName === "All") {
            categoryName = "main";
        }

        let newUrl = `/${categoryName}/search?SearchQuery=${encodedSearchQuery}&page=${page}&pageSize=${pageSize}&order=${sortOrder}`;
        window.location.href = newUrl;
    }

</script>

</script>
</html>
