<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" th:href="@{/css/portfolio/portfolio.css}" href="/static/css/portfolio/portfolio.css" />
    <link rel="stylesheet" th:href="@{/css/portfolio/portfolioguide.css}" href="/static/css/portfolio/portfolioguide.css" />
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>

</head>
<body>

<header th:replace="~{fragments/header::headerFragment}"></header>
<div class="header-image-container">
    <img class="header-image" src="https://cdn.inflearn.com/public/files/posts/3dc171db-6fbb-4561-b0cd-d8f5577e9b87/roadmap_2.jpg" alt="Main Page Header Image">
    <!-- 이미지 가운데 텍스트 -->
    <div class="centered-text">ngnix zero-downtime Deployment!</div>
</div>
<div class="desktop">
    <div class="port">
        <div class="container">
            <div class="scroll-section">
                <!-- 상단 섹션 -->
                <div class="top-section">
                    <!-- 상단 섹션 -->
                    <div class="top-section">
                        <!-- 버튼 6개 -->
                        <div class="button-container">
                            <!--                            <button class="w-btn w-btn-indigo">버튼 1</button>-->
                            <button th:each="Category : ${Category}" th:text="${Category.CategoryName}" class="w-btn w-btn-indigo"></button>
                        </div>
                        <!-- 버튼 + 검색바-->
                        <div class="second-container">
                            <div class="left-btn">
                                <select class="w-btn w-btn-indigo" id="sort-options">
                                    <option value="popularity">인기순</option>
                                    <option value="recommendation">추천순</option>
                                    <option value="latest">최신순</option>
                                </select>
                            </div>

                            <div class="search-bar">
                                <input class="w-btn" type="text" placeholder="검색어를 입력하세요">
                            </div>
                            <div class="right-btn">
                                <a href="ports/create" class="w-btn w-btn-indigo">
                                    포트폴리오 올리기
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-section">
                    <div class="cards-section">
                        <!-- 반복되는 요소 -->
                        <div th:each="mainPortViewDtoList: ${mainPortViewDtoList}"  class="port-wrapper">
                            <div class="port-2">
                                <div class="title-description">
                                    <div class="text-wrapper-5" th:data-src="${mainPortViewDtoList.Thumbnail_url}" data-src="https://porthub2.s3.ap-northeast-2.amazonaws.com/None_Thumbnail.jpeg" th:onclick="'goToDetailPage(\'' + ${mainPortViewDtoList.PortfolioID} + '\')'"></div>
                                    <div class="profile-wrapper">
                                        <img class="profile-image" th:src="${mainPortViewDtoList.profileImage}" src="/static/images/profiletest.jpeg" th:attr="data-user-name=${mainPortViewDtoList.UserName}" onclick="goToProfilePage(this.getAttribute('data-user-name'))"/>
                                    </div>
                                    <div class="title-deco" th:text="${mainPortViewDtoList.UserName}"></div>
                                    <div class="text-wrapper-6" th:text="${mainPortViewDtoList.Title}"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</div>

<div class="fixed-section">
    <div class="fixed-up">
        <br><br>
        <div>
            <h2 style="font-size: 1em; margin-bottom: 0.1em;">Popularity</h2>
        </div>
        <div th:each="idx : ${#numbers.sequence(1, 4)}" class="Popularity">
            <div class="profile-wrapper">
                <img class="profile-image" th:src="@{/images/profiletest.jpeg}" src="/static/images/profiletest.jpeg" />
            </div>
            <div>UserName</div>
            <button class="follow-btn">follow</button>
        </div>

    </div>
    <div class="fixed-down">
        <div>
            <h2 style="font-size: 1em; margin-bottom: 1em; margin-top: 10px;">History</h2>
        </div>

        <div class="history_section">
            <div th:each="idx : ${#numbers.sequence(1, 4)}" class="port-3">
                <div class="history-description">
                    <div class="history-image">
                        <img class="image" th:src="@{/images/iim.png}" src="/static/images/iim.png" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<footer th:replace="~{fragments/footer::footerFragment}"></footer>

</body>
<script th:src="@{/js/main.js}" src="/static/js/main.js"></script>
</html>
