<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>

    <link rel="stylesheet" th:href="@{/css/portfolio/create.css}" href="/static/css/portfolio/create.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.1.3/marked.min.js"></script>


</head>

<body>


<div class="container">
    <h1>포트폴리오 등록</h1>
    <div class="port-write">
        <!--        <form id="portfolioForm" action="/upload" method="post" enctype="multipart/form-data">-->
        <div class="section section-first">
            <div class="fraged thumb-nail">
                <!-- 썸네일 사진을 등록하는 공간 -->

                <label for="thumbnail">썸네일 선택:</label>
                <input type="file" id="thumbnail" name="thumbnail" accept="image/*, video/*, audio/*" onchange="previewFile(event)">
                <div class="select-thumbnail" id="prevthumb" style="display: none;"></div>

            </div>
            <div class="fraged category-btn">
                <!-- 카테고리 선택 버튼 -->
                <label for="category">카테고리:</label>
                <select id="category" name="category" required>
                    <option value="">카테고리 선택</option>
                    <option value="Development">Development</option>
                    <option value="Music">Music</option>
                    <option value="Design">Design</option>
                    <option value="Editing">Editing</option>
                    <option value="Film">Film</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>

        <div class="section section-second">
            <div class="fraged port-title">
                <!-- 제목 입력 영역 -->
                <label for="title">제목:</label>
                <input type="text" id="title" name="title" required>
            </div>
        </div>

        <div class="section section-forth">
            <div class="write-container">
            </div>
        </div>

        <div class="section section-link">
            <div>
                <label for="title">link</label>
                <input type="text" id="link" name="link">
            </div>
        </div>

        <div class="section second-fifth">
            <div class="fraged port-btn-container">
                <a class="w-btn" type="button" th:href="@{/main}">나가기</a>
                <input class="w-btn" type="button" value="생성" id="createButton">
                <button class="w-btn" type="submit" value="전송">전송</button>
            </div>
        </div>
        <!--        </form>-->
    </div>
</div>

</body>

<script th:src="@{/js/create.js}" src="/static/js/create.js"></script>
<script>
    document.getElementById('createButton').addEventListener('click', function() {
        addNewSection();
    });
</script>
</html>