<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <style>
        body {
            /*background: url("/images/iim.png") no-repeat;*/
            background-size: cover;
        }
    </style>

    <link rel="stylesheet" th:href="@{css/portfolio/portfolio.css}" href="/static/css/portfolio/portfolio.css" />
    <link rel="stylesheet" th:href="@{css/portfolio/portfolioguide.css}" href="/static/css/portfolio/portfolioguide.css" />
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
</head>
<body>

<header th:replace="~{fragments/header::headerFragment}"></header>

<div class="wrap-container">
    <div class="home-container">
        <h1>Mentoring.html 입니다.</h1>
        <h1>Mentoring.html 입니다.</h1>
        <h1>Mentoring.html 입니다.</h1>
        <h1>Mentoring.html 입니다.</h1>


    </div>
</div>

<footer th:replace="~{fragments/footer::footerFragment}"></footer>

</body>
</html>
