body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
}

.chat-container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background: white;
}

.sidebar {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 20px;
    overflow-y: auto;
}

.sidebar-header {
    margin-bottom: 30px;
    font-weight: bold;
}

.sidebar-user {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.sidebar-user:last-child {
    border-bottom: none;
}

.chat-main {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.chat-body {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 20px;
}

.message {
    display: flex;
    margin-bottom: 20px;
}

.message-text {
    max-width: 60%;
    padding: 10px;
    border-radius: 18px;
}

.my-message .message-text {
    margin-left: auto;
    background: #e8f5e9;
}

.other-message .message-text {
    background: #f0f0f0;
}

.chat-footer {
    display: flex;
    margin-top: auto;
}

.input-group {
    display: flex;
    width: 100%;
}

.input-group input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 18px;
    margin-right: 10px;
}

.input-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    background: #5aac44;
    color: white;
    cursor: pointer;
}

.input-group button:hover {
    background: #4a934a;
}