<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/headerguide.css" />
  </head>
  <body>
    <div class="frame">
      <div class="frame-wrapper">
        <div class="div">
          <div class="text-wrapper">Home</div>
          <div class="text-wrapper">About us</div>
          <div class="div-2">
            <div class="text-wrapper">Portfolio</div>
            <img class="vector" src="img/vector.svg" />
          </div>
          <div class="text-wrapper">Mentoring</div>
        </div>
      </div>
      <div class="text-wrapper-2">porthub</div>
      <div class="div-3">
        <button class="button-fill-rounded"></button>
        <button class="button">Register</button>
        <div class="button-outline-sm"><div class="contact">Sign in</div></div>
      </div>
    </div>
  </body>
</html>
