<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    <div class="container">
        <div class="top-bar">
            <div class="navigation">
                <div class="nav-items">
                    <div class="nav-item">Home</div>
                    <div class="nav-item">About us</div>
                    <div class="nav-item portfolio-dropdown">
                        <div>Portfolio</div>
                        <div class="portfolio-dropdown-icon"></div>
                    </div>
                    <div class="nav-item">Mentoring</div>
                </div>
            </div>
            <div class="logo">porthub</div>
            <div class="auth-buttons">
                <div class="auth-button register-button">
                    <div class="register-button-text">Register</div>
                </div>
                <div class="auth-button signin-button">
                    <div class="signin-button-text">Sign in</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


