<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/css/header2.css">
<div th:fragment="headerFragment" class="header navbar-fixed-top">

  <header class="top-header">
    <nav>
      <div class="logo">
        <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
        <a class="logo-text" href="/"><h2 class="logo-name">PortHub</h2></a></h2>
      </div>

      <div class="sidebar">
        <div class="logo">
          <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
          <h2 class="logo-name">PortHub</h2>
        </div>

        <div class="sidebar-content">
          <ul class="lists">
            <li class="list">
              <a href="/main" class="nav-link">
                <ion-icon name="home-outline" class="icon"></ion-icon>
                <span class="link">Portfolio</span>
              </a>
            </li>
            <li class="list">
              <a href="/mentoring" class="nav-link">
                <ion-icon name="clipboard-outline" class="icon"></ion-icon>
                <span class="link">Mentoring</span>
              </a>
            </li>
            <li class="list">
              <a href="/mentoring/activity" class="nav-link" th:if="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}">
                <ion-icon name="notifications-outline" class="icon"></ion-icon>
                <span class="link">MentoProcess</span>
              </a>

              <a href="/mentoring/activity" class="nav-link" id="mento-no-login" onclick="confirmLogin(event)" th:unless="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}">
                <ion-icon name="notifications-outline" class="icon"></ion-icon>
                <span class="link">MentoProcess</span>
              </a>
            </li>
            <li class="list">
              <a href="/about" class="nav-link">
                <ion-icon name="stats-chart-outline" class="icon"></ion-icon>
                <span class="link">About</span>
              </a>
            </li>
            <li class="list">
              <a href="/chat" class="nav-link" th:if="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}">
                <ion-icon name="mail-outline" class="icon"></ion-icon>
                <span class="link">Chatting</span>
              </a>
              <a href="#" class="nav-link" id="chat2-alert-link" onclick="confirmLogin(event)" th:unless="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}">
                <ion-icon name="mail-outline" class="icon"></ion-icon>
                <span class="link">Chatting</span>
              </a>
            </li>

            <li class="list">
              <a href="/view" class="nav-link" th:if="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}">
                <ion-icon name="folder-outline" class="icon"></ion-icon>
                <span class="link">Views_all</span>
              </a>
              <a href="#" id="view-alert-link" class="nav-link" onclick="confirmLogin(event)" th:unless="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}">
                <ion-icon name="folder-outline" class="icon"></ion-icon>
                <span class="link">Views_all</span>
              </a>
            </li>

          </ul>
          <div class="bottom-content">
            <li th:if="${T(hello.example.porthub.config.util.SessionUtils).isAdminIn()}" class="list">
              <a href="/admin" class="nav-link">
                <ion-icon name="settings-outline" class="icon"></ion-icon>
                <span class="link">Admin Setting</span>
              </a>
            </li>
            <li th:if="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}" class="list">
              <a href="/profile/index" class="nav-link">
                <ion-icon name="settings-outline" class="icon"></ion-icon>
                <span class="link">Profile Setting</span>
              </a>
            </li>
            <li class="list" th:if="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}" >
              <a class="nav-link" style="cursor: pointer;">
                <ion-icon name="bag-outline" class="icon"></ion-icon>
                <span onclick="confirmLogout(event)" class="link">Logout</span>
              </a>
            </li>
            <li class="list" th:unless="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}" >
              <a href="/login" class="nav-link">
                <ion-icon name="bag-outline" class="icon"></ion-icon>
                <span onclick="location.href='/login'" class="link">Login</span>
              </a>
            </li>

          </div>
        </div>
      </div>
    </nav>

    <section class="overlay"></section>
    <script>
      const navBar = document.querySelector("nav"),
              menuBtns = document.querySelectorAll(".menu-icon"),
              overlay = document.querySelector(".overlay");

      menuBtns.forEach((menuBtn) => {
        menuBtn.addEventListener("click", () => {
          navBar.classList.toggle("open");
        });
      });

      overlay.addEventListener("click", () => {
        navBar.classList.remove("open");
      });

      // Close the navigation bar when clicking outside of it
      document.body.addEventListener("click", (event) => {
        const isClickInsideNavBar = navBar.contains(event.target);
        const isClickInsideMenuBtn = Array.from(menuBtns).some((menuBtn) =>
                menuBtn.contains(event.target)
        );

        if (!isClickInsideNavBar && !isClickInsideMenuBtn) {
          navBar.classList.remove("open");
        }
      });
      function confirmLogout(event) {
        // 확인 팝업 표시
        var confirmLogout = confirm("로그아웃 하시겠습니까?");

        // 사용자가 '예'를 선택한 경우 로그아웃
        if (confirmLogout) {
          window.location.href = '/logout';
        } else {
          event.preventDefault(); // 폼 제출 방지
        }
      }

      function confirmLogin(event) {

        var confirmLogout = confirm("로그인 하시겠습니까?");
        if (confirmLogout) {
          window.location.href = '/login';
        } else {
          event.preventDefault(); // 폼 제출 방지
        }
      }

      document.addEventListener("DOMContentLoaded", function() {
        var chatAlertLink = document.getElementById('chat-alert-link');
        var mento = document.getElementById("mento-no-login");
        var chat2 = document.getElementById('chat2-alert-link');
        var view = document.getElementById('view-alert-link');
        if (chatAlertLink || chat2 || view || mento) {
          chatAlertLink.addEventListener('click', function(event) {
            event.preventDefault();
            if (confirm('로그인 페이지로 이동하시겠습니까?')) {
              window.location.href = '/login'; // 로그인 페이지로 이동
            }
          });
        }
      });
    </script>

    <nav class="navigation">
      <a href="/main">Home</a>
      <a href="/mentoring">Mentoring</a>
      <a href="/about">About</a>
      <a href="/chat" id="chat-link" th:if="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}">Chatting</a>
      <a href="#" id="chat-alert-link" th:unless="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}">Chatting</a>

<!--      <button th:if="${#authorization.expression('isAuthenticated()')}" type="button" onclick="location.href='/logout'" class="btnLogin-popup">Logout</button>-->
      <button th:if="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}" type="button" onclick="confirmLogout(event)" class="btnLogin-popup">Logout</button>
      <!-- 로그인이 되어 있지 않을 때 -->
      <button th:unless="${T(hello.example.porthub.config.util.SessionUtils).isLoggedIn()}" onclick="location.href='/login'" class="btnLogin-popup">Login</button>

    </nav>
  </header>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</div>
</html>