<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--    <link rel="stylesheet" th:href="@{/css/portfolio/portfolio.css}" href="/static/css/portfolio/portfolio.css" />-->
    <!--    <link rel="stylesheet" th:href="@{/css/portfolio/portfolioguide.css}" href="/static/css/portfolio/portfolioguide.css" />-->
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
</head>
<body>

<header th:replace="~{fragments/header::headerFragment}"></header>


    <footer th:replace="~{fragments/footer::footerFragment}"></footer>
</div>
</body>
</html>
