:root {
    --ocean-dark: rgba(30, 30, 30, 1);
    --font-colorpure-white: rgba(255, 255, 255, 1);
    --transparent: rgba(255, 255, 255, 0);
    --google-blue: rgba(66, 133, 244, 1);
    --white: rgba(255, 255, 255, 1);
    --label-label-1-semibold-font-family: "Raleway", Helvetica;
    --label-label-1-semibold-font-weight: 600;
    --label-label-1-semibold-font-size: 16px;
    --label-label-1-semibold-letter-spacing: 0px;
    --label-label-1-semibold-line-height: 24px;
    --label-label-1-semibold-font-style: normal;
}