<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="hello.example.porthub.domain.MemberDto" alias="Member"></typeAlias>
        <typeAlias type="hello.example.porthub.domain.ProfileDto" alias="User"></typeAlias>
    </typeAliases>
</configuration>