body {
    background-size: cover;
    margin: 0; /* body 마진 제거 */
    padding: 0; /* body 패딩 제거 */
}
.mento-wrapper {
    border: 1px solid #ccc;
    padding: 4px;
    width: calc(25% - 30px);
    margin: 0 4px;
    float: left;
    border-radius: 5%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    transition: 0.25s;
}

.mento-wrapper:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    cursor: pointer;
}

.mento-wrapper *:hover{
    transform:scale(1.01)
}

.third-container {
    display: flex;
    width: 100%;
}
.mento-btn-container {
    margin-right: 10px;
}
.mento-btn {
    background: #Efffff;
}

.layer1{
    width:100%;
    height:100%;
    position:fixed;
    z-index:99999;
    background:rgba(0,0,0,0.6);
    top:0;
    left:0;
    display:none;
}

.layer2{
    position:absolute;
    margin:0 auto;
    width:60%;
    height: 90%;
    background-color: white;
    top:5%;
    left:20%;
}

.layer_con{
    display:flex;
    flex-direction: column;
    padding:50px;
    gap:10px;
}

.mento-header{
    display:flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
}

.mentoprofile{
    display:flex;
    gap:10px;
    align-items: center;
}
.mentoimg{
    border:solid 1px;
    border-radius:1rem;
    width:30px;
    height:30px;
}

.postname{
    border:solid 1px;
    padding: 20px 10px;
}

.mentospc{
    border:solid 1px;
    padding: 20px 10px;
}

.post-con{
    border:solid 1px;
    padding:20px 10px;
}

.mentoapply{
    width:100%;
    display:flex;
    justify-content: space-between;
}

.mentoapply button{
    margin:0;
}

.second-container-mento{
    display:flex;
    width:100%;
    justify-content: space-between;
    gap:1rem;
}

.search{
    width:60%;
    display:flex;
    align-items: center;
}

.gapplus{
    gap:1rem;
}

.btn-outline-secondary {
    border: 1px solid #ccc;
}

.categories.selected{
    background-color: #7d7d7d;
}

.text-wrapper-6{
    width:fit-content;
}