.desktop {
    background-color: #ffffff;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .port {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
}

.desktop .navbar {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 61px;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #ffffff;
}

.desktop .frame {
    display: flex;
    width: 1197px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.desktop .group {
    position: relative;
    width: 180px;
    height: 24.62px;
}

.desktop .portfolio-wrapper {
    position: absolute;
    width: 81px;
    height: 24px;
    top: 1px;
    left: 99px;
}

.desktop .portfolio {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--ocean-dark);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.desktop .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--ocean-dark);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .vector {
    position: relative;
    width: 9px;
    height: 5px;
}

.desktop .frame-3 {
    display: flex;
    width: 222px;
    height: 51px;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    position: relative;
}

.desktop .button-fill-rounded {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 121px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    margin-left: -35px;
    background-color: var(--ocean-dark);
    border-radius: 25px;
    overflow: hidden;
}

.desktop .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--font-colorpure-white);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.desktop .button-outline-sm {
    display: flex;
    width: 121px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid;
    border-color: var(--ocean-dark);
    background-color: var(--transparent);
}

.desktop .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--ocean-dark);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.desktop .text-wrapper-4 {
    position: absolute;
    top: 6px;
    left: 508px;
    -webkit-text-stroke: 1px #1e1e1e;
    font-family: "Poppins-Thin", Helvetica;
    font-weight: 100;
    color: #1e1e1e;
    font-size: 44px;
    text-align: center;
    letter-spacing: 2.2px;
    line-height: 34px;
    white-space: nowrap;
    border-color: var(--ocean-dark);
}

.desktop .gallery-section {
    display: flex;
    flex-direction: column;
    /*width: 1280px;*/
    align-items: center;
    gap: 42px;
    padding: 42px 24px;
    /*position: absolute;*/
    top: 153px;
    left: 80px;
    background-color: #ffffff;
}

.desktop .cards-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.desktop .port-2 {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.desktop .image {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.desktop .title-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.desktop .text-wrapper-5 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--black);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27px;
}

.desktop .text-wrapper-6 {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 17px;
    letter-spacing: 0;
    line-height: 27px;
}

.desktop .text-wrapper-7 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--black);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    height: 100%;
    flex-wrap: nowrap; /* 내용이 넘치지 않고 한 줄에 표시되도록 설정 */
    margin: 0; /* container 마진 제거 */
}
.scroll-section {
    flex: 1;
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    padding: 20px;
}

.port {
    height: 100%; /* 전체 화면 높이 설정 */
    margin-right: 25%; /* 오른쪽 고정된 섹션의 너비만큼 왼쪽 여백 추가 */
}


/* .port-2 요소를 감싸는 박스 스타일 */
.port-wrapper {
    border: 1px solid #ccc; /* 박스의 테두리 스타일 */
    padding: 4px; /* 내부 여백 조정 */
    margin-bottom: 20px; /* .port-2 요소들 사이 간격 조정 */
    width: calc(20% - 30px); /* 너비를 25%로 설정하고 마진을 고려하여 조정합니다. */
    margin: 0 4px; /* 가운데 정렬 */
    float: left; /* 좌측 정렬 */
    border-radius: 5%;
}
.profile-wrapper {
    width: 30px; /* Adjust the size of the circular profile image */
    height: 30px;
    border-radius: 50%; /* Makes the image circular */
    overflow: hidden; /* Hides any image overflow */
    margin-right: 4px; /* Adjust spacing between profile image and text */
    float: left; /* Float the profile image to the left */
}

.profile-image {
    width: 100%; /* Ensures the image takes up the full space of its container */
    height: auto;
    display: block;
}
