.main{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:80%;
    height:50%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.wrapper-head{
    height:20%;
    font-size:xx-large;
}

.content{
    height: 80%;
}

.goods{
    width:100%;
    height:100%;
    border:groove 1px;
    border-radius: 1rem;
}

.goods-head{
    font-size:x-large;
    margin:10px;
}

.goods-content{
    display:flex;
    align-content: flex-start;
    margin:10px;
}

.goods-content .content-div1{
    width:50%;
    display:flex;
    gap:20px;
    margin:10px;
}

.goods-content .content-div2{
    width:50%;
}

.goods-id{
    display:none;
}

.goods-thumbnail{
    width:150px;
    height:100px;
}

.goods-intro{
    display:flex;
    flex-direction:column;
}

.buyer{
    display:flex;
    gap:50px;
}

.buyer span{
    width:20%;
}

.payment-intro{
    display:flex;
    flex-direction: column;
    gap:5px;
    padding:20px;
    width:100%;
}

.goods-name{
    font-size:larger;
}

.payment{
    display:flex;
    flex-direction: column;
    gap:5px;
    padding:20px;
    border:groove 1px;
    border-radius:1rem;
}

.pay-col{
    display:flex;
    gap:100px;
}

.pay-col-first{
    width:10%
}

.divide{
    border:groove 1px;
}

.paymentButtons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.paymentButtons button {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 8px 30px;
    cursor: pointer;
}

#cartPay.selected{
    background-color: #4070f4;
}

#kakaoPay.selected{
    background-color: goldenrod;
}