<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>

<header th:replace="~{fragments/header::headerFragment}"></header>
<div class="login">
    <div class="group-wrapper">
        <div class="group">
            <div class="div-wrapper">
                <div class="div">
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <div class="text-wrapper">Sign in to</div>
                            <div class="text-wrapper-2">Porthub</div>
                        </div>
                    </div>
                    <div class="text-wrapper-3">Welcome !</div>
                    <div class="group-2">

                        <div class="input-box">
                            <span class="icon"><ion-icon name="mail-outline" role="img" class="md hydrated"></ion-icon></span>
                            <input type="email" required="">
                            <label>ID</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><ion-icon name="lock-closed-outline" role="img" class="md hydrated"></ion-icon></span>
                            <input type="password" required="">
                            <label>Password</label>
                        </div>

                        <div class="remember-forgot">
                            <label><input type="checkbox">
                                Rememebr me</label>
                        </div>


                        <div class="overlap-wrapper">
                            <a href="#">
                                <div class="overlap"></div>
                                <div class="text-wrapper-8">Login</div></a>
                        </div>
                    </div>
                    <p class="don-y-have-an">
                        <span class="span">Don’y have an Account ?</span>
                        <a href="#"><span class="text-wrapper-9">&nbsp;&nbsp;Register</span></a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<footer th:replace="~{fragments/footer::footerFragment}"></footer>

</body>
</html>
