<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link th:href="@{/css/register/register.css}" href="/static/css/register/register.css" rel="stylesheet">
    <link th:href="@{/css/register/registerguide.css}" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<body>


<div class="create-an-account">
    <div class="div">
        <div class="content">
            <div class="frame">
                <div class="text-wrapper">Create an account</div>
                <div class="have-an-account">
                    <p class="p">
                        <span class="span">Already have an ccount?</span>
                        <span class="text-wrapper-2">&nbsp;</span>
                        <a href="login"><span class="text-wrapper-3">Log in&nbsp;&nbsp;</span></a>
                    </p>
                </div>
            </div>


<!--            전송-->
            <form action="/register/save" method="post">
                <div class="frame-2">
                <div class="text-field">
                    <div class="frame-3"><div class="label">UserName</div></div>
                    <input type="text" class="text-field-2" placeholder="Enter your profile name" name="UserName" id="UserName" onblur="userCheck()">
                    <small id="check-result"></small>
                </div>

                    <div class="text-field">
                        <div class="frame-3">
                            <div class="label">What’s your email?</div>
                        </div>
                        <input type="email" class="text-field-2" placeholder="Enter your email address" name="Email" id="Email" onblur="emailCheck()">
                        <button class="verification-request-btn" id="RequestBtn" onclick="sendNumber()">Verify Request</button>
                        <div id="VertifyEmail" name="VertifyEmail" style="display: none">
                            <input type="text" class="text-field-2" placeholder="verification code" name="EmailCode" id="EmailCode">
                            <button class="verification-btn" id="VerifyBtn" onclick="confirmNumber()">Verify Code</button>
                            <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
                        </div>
                    </div>


                    <div class="text-field">
                        <div class="frame-3">
                            <div class="label">Create a password</div>
                            <div class="password-hide-see" id="togglePasswordBtn" onclick="togglePasswordVisibility()">
                                <img class="icon" src="/images/hideeye.svg" />
                                <div class="text-wrapper-4">Hide</div>
                            </div>
                        </div>
                        <label for="pw"></label><input type="password" class="text-field-2" placeholder="Enter your password" name="PasswordHash" id="pw">
                        <small id="password-error-message" class="error-message">Use 8 or more characters with a mix of letters, numbers &amp; symbols</small>
                    </div>
                    <div class="text-field">
                        <div class="frame-3"><div class="label">Verify password</div></div>
                        <label for="pwCheck"></label><input type="password" class="text-field-2" placeholder="Verify password" id="pwCheck">
                        <small id="password-match-error" class="error-message" style="display:none;">Passwords do not match</small>
                    </div>
                <div class="frame-4">
                    <div class="link-text">
                        <p class="p">
                            <span class="span">By creating an account, you agree to the </span>
                            <span class="text-wrapper-3">Terms of use</span>
                            <span class="text-wrapper-2">&nbsp;</span>
                            <span class="span">and</span>
                            <span class="text-wrapper-2">&nbsp;</span>
                            <span class="text-wrapper-3">Privacy Policy.</span>
                            <span class="text-wrapper-5">&nbsp;</span>
                        </p>

                    </div>
                        <button class="button" type="submit" id="SubmitCheck">
                            <div class="frame-5"><div class="sign-up">Create an account</div></div>
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <div class="bar-rounded">
            <div class="overlap-group">
                <div class="rectangle"></div>
                <div class="rectangle-2"></div>
            </div>
        </div>
    </div>
</div>
</body>

<script th:src="@{/js/sign.js}" src="/static/js/sign.js"></script>

</html>
